[submodule ".vim/vundle.git"]
	path = .vim/vundle.git
	url = git://github.com/gmarik/vundle.git

[submodule ".vim/bundle/octoeditor.vim"]
	path = .vim/bundle/octoeditor.vim
	url = git://github.com/glidenote/octoeditor.vim.git
	ignore = dirty

[submodule ".vim/bundle/vimshell"]
	path = .vim/bundle/vimshell
	url = git://github.com:Shougo/vimshell.vim.git
	ignore = dirty

