# ignore all
/*
/.*

# do *not* ignore
!/.bash_profile
!/.bashrc
!/.gitignore
!/.gitconfig
!/.vim
!/.unite
!/.vimrc
!/.zshrc
!/images/
!/setup_scripts/
!/alfred_workflows/
!/init.lua

# ignore these files
/.vim/swap/*
/.vim/backup/*
.vim/bundle/*
.vim/my_plugins/*
.vim/autoload/friendlygrep.vim
.vim/plugin/friendlygrep.vim
.unite/directory_mru
.unite/directory_mru_long
.unite/file_mru
.unite/file_mru_logn
.DS_Store

# but don't ignore theese files to track swap and backup directories
!/.vim/swap/.gitkeep
!/.vim/backup/.gitkeep
!/.vim/bundle/.gitkeep
