#---------------------------
# ignore all
#---------------------------
/*
/.*

#---------------------------
# do *not* ignore
#---------------------------
!/.bash_profile
!/.bashrc
!/.gitignore
!/.gitconfig
!/.vim
!/.unite
!/.vimrc
!/.zshrc
!/images/
!/setup_scripts/
!/alfred_workflows/
!/init.lua

#---------------------------
# ignore these files
#---------------------------
.DS_Store

/.vim/swap/*
/.vim/backup/*
.vim/bundle/*
.vim/my_plugins/*
.vim/autoload/friendlygrep.vim
.vim/plugin/friendlygrep.vim
.vim/plugin/rplugin/python3/*
.vim/dein_installer.sh
.vim/rplugin/python3/*

.unite/directory_mru
.unite/directory_mru_long
.unite/file_mru
.unite/file_mru_logn

/setup_scripts/Brewfile.lock.json

#---------------------------
# but don't ignore theese files to track swap and backup directories
#---------------------------
!/.vim/swap/.gitkeep
!/.vim/backup/.gitkeep
!/.vim/bundle/.gitkeep
