[submodule ".vim/vundle.git"]
	path = .vim/vundle.git
	url = git://github.com/gmarik/vundle.git

[submodule ".vim/bundle/octoeditor.vim"]
	path = .vim/bundle/octoeditor.vim
	url = git://github.com/glidenote/octoeditor.vim.git
