# ignore all
/*
/.*

# do *not* ignore
!/.bash_profile
!/.bashrc
!/.gitignore
!/.vim
!/.vimrc
!/.zshrc

# ignore these files
/.vim/swap/*
/.vim/backup/*


.vim/backup
.vim/swap
.DS_Store
.vim/bundle/eregex.vim
.vim/bundle/neocomplcache
.vim/bundle/quickrun.vim
.vim/bundle/ShowMarks
.vim/bundle/surround.vim
.vim/bundle/The-NERD-Commenter
.vim/bundle/unite.vim
